$mflix-color: #49a8b0;

.creative-wrapper {
  height: 100%;

  .list-campaign-container {
    font-size: 15px;
    height: 100%;

    .list-campaign {
      background-color: #fff;
      margin-top: 60px;
      padding-top: 10px;
      height: calc(100% - 60px);

      .container {
        height: 100%;

        & > div {
          height: calc(100% - 60px);
          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .preview-box {
          .input-box-wrapper {
            background: #fff !important;
            border-radius: 10px;
            padding: 20px;
            overflow: auto;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }

        .creative-box-wrapper {
          background: #fff !important;
          padding: 70px 60px 0;
          border-radius: 10px;

          .box-title {
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px 80px;
            background: #49a8b0;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }

    .submit-button-box {
      padding: 20px;
      text-align: right;

      button {
        background: #49a8b0;
        width: 25%;
        min-width: 80px;
        max-width: 300px;
        padding: 10px;
        font-weight: bold;
        font-size: 15px;
      }
    }

    .input-box-wrapper {
      // padding: 10px;
      .input-source {
        // padding: 10px 0;
        position: relative;
        margin-bottom: 5px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .phone-preview-layout {
        min-width: 300px;
        background: #FFF;
      }

      .title-text {
        color: $mflix-color;
        font-size: 15px;
        font-weight: bold;
        padding: 0;
        margin-bottom: 5px;
      }

      div {
        // padding: 5px;
        .form-control {
          height: calc(3rem + 2px);
        }
      }
    }
  }
}

.ico-download {
  background: url("images/ico-download.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.ico-upload {
  background: url("images/ico-upload.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .list-campaign-container {
    .list-campaign {
      background-color: #fff;
      margin-top: 100px;

      .container {
        .preview-box {
          clear: both;
          margin-top: 20px;
          padding: 0;
        }
      }
    }
  }
}
